@model DemoWebsite.Models.HomeModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    
    <h1>Home Page</h1>

    <div>
        
        @Model.Seo

    </div>
</body>
</html>
